@import url(https://fonts.googleapis.com/css?family=Roboto:light,regular,bold);

html {
  padding-left: 15pt;
  padding-right: 10pt;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-weight: light;
    letter-spacing: -1.5px;
}

h2 {
    font-weight: light;
    letter-spacing: -0.5px;
}

h3 {
    font-weight: regular;
    letter-spacing: 0px;
}

.abstract {
    font-weight: bold;
}

a {
  text-decoration: none;
}

a:link {
  color: #1976d2;
}

a:visited {
  color: #7b1fa2;
}

a:hover, a:active {
  text-decoration: underline;
}

abbr {
  font-variant: none;
  color: green;
  cursor: pointer;
}

abbr:not(:focus) {
  cursor: pointer;
}

abbr:focus::after {
  cursor: auto;
  content: attr(title);
  display: inline-block;
  width: 100%;
  padding: 0.5em;
}
