<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How the model runs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Model parts</h1>
    <div>Konrad is split into several model components, each of which
        has a specific purpose and all of which work together.
        <ul type="disk">
            <li><strong>atmosphere</strong> &mdash; contains different gasses
                and the temperature profile</li>
            <li><strong>surface</strong> &mdash; with a
                <abbr title="The surface temperature determines how much
                radiation the surface emits." tabindex="-1">temperature</abbr>,
                <abbr title="The surface reflectivity tells the radiation scheme
                how much radiation the surface reflects."
                      tabindex="=1">reflectivity</abbr> and
                <abbr title="The heat capacity determines how quickly the
                surface warms or cools." tabindex="-1">heat capacity</abbr>
            </li>
            <li><strong>radiative transfer scheme</strong>
                <br /> &emsp; &mdash; needs information about sunlight, the
                surface and the atmosphere
                <br /> &emsp; &mdash; calculates how much
                <abbr title="In climate science, shortwave radiation refers to
                the radiation coming from the Sun, a lot of which is
                ultra-violet and visible light." tabindex="-1">shortwave
                    radiation</abbr>
                is reflected, scattered, absorbed and transmitted by the
                atmosphere and surface
                <br /> &emsp; &mdash; calculates how much
                <abbr title="In climate science, longwave radiation describes
                the radiation emitted from the surface and the atmosphere, a
                lot of which is infrared." tabindex="-1">longwave
                    radiation</abbr>
                is emitted by the surface and atmosphere and how much of this is
                absorbed or transmitted as it makes its way upwards to space
            </li>
            <li><strong>convective adjustment</strong> &mdash; prevents
                atmospheric temperatures decreasing unrealistically quickly with
                height</li>
            <li><strong>lapse rate</strong> &mdash; tells the convective
                adjustment how quickly temperatures should decrease with
                height</li>
            <li><strong>humidity model</strong> &mdash; tells the atmosphere
                how much water vapour it contains</li>
        </ul>
        The different components are put together in the model core, which
        keeps track of time in the model.
    </div>

    <h1>How the model runs</h1>
    <img src="{{ url_for('static', filename='model-flow.png') }}" align="left"
         alt="This sentence should be a diagram of the model flow."
         style="width:184px;height:438px;">
    <div>
        We start with an initial atmosphere and surface and specify their
        properties, including their temperatures.
        We also specify the amount of incoming
        <abbr title="sunlight" tabindex="-1">solar radiation</abbr>.
        These are used as input to the radiative transfer model, from which we
        calculate
        <abbr title="As molecules absorb radiation, they gain energy and the
        atmosphere warms. On the other hand, if the molecules emit radiation,
        they lose energy and the atmosphere cools. The heating rate describes
        how quickly the atmosphere warms or cools." tabindex="-1">radiative
            heating rates</abbr>.
        We multiply the heating rates by the
        <abbr title="a small amount of time" tabindex="-1">model timestep</abbr>
        and add these to the temperature profile of the atmosphere and the
        temperature of the surface.
        If the new temperature profile decreases too quickly with height, a
        <abbr title="In konrad, we do not have motion of air. Instead our
        convective adjustment just changes the temperature of the surface and
        atmosphere. The temperature change we apply is similar to that which
        occurs through motion of air in convection in the real world."
              tabindex="-1">convective adjustment</abbr>
        is applied in the
        <abbr title="the lowest part of the atmosphere, where temperature
        decreases with height" tabindex="-1">troposphere</abbr>.
        This changes the temperatures of the atmosphere and surface again.
        Then, we use the humidity model to update the amount of water vapour
        stored in the atmosphere,
        which depends on the atmospheric temperature profile.
        The updated atmosphere and surface are used as input to the radiative
        transfer scheme and the whole process is repeated many times.
        Eventually, the
        <abbr title="the change due to radiation plus the change due to
        convection" tabindex="-1">change in temperature</abbr>
        becomes very small, and we say that the system has reached
        equilibrium.
    </div><br />
    <div>
        In konrad, the equilibrium temperature profile does not depend on the
        initial temperature of the atmosphere or surface.
        If we start with a hot atmosphere, it emits lots of
        <abbr title="mostly infrared" tabindex="-1">longwave radiation</abbr>
        and cools.
        On the other hand if we start with a cold atmosphere, it emits very
        little longwave radiation, but it still absorbs
        <abbr title="from the Sun" tabindex="-1">shortwave radiation </abbr>,
        so it warms.
        Both scenarios eventually reach the same temperature profile, where
        cooling by longwave radiation balances warming by shortwave radiation
        and convection.
    </div><br />
    <h2>Language and availability</h2>
    <div>
        Konrad is written in
            <a href='https://www.python.org/' target='_blank'>python</a>
        and is available on
            <a href='https://github.com/atmtools/konrad' target='_blank'>our github page</a>
        for anyone to download and use.
        The radiative transfer scheme used in konrad is
            <a href='http://rtweb.aer.com/rrtm_frame.html' target='_blank'>RRTMG</a>,
        the development of which started in the 1990s, and the scheme
        continues to be used in many weather prediction and climate models.
            <a href='http://rtweb.aer.com/rrtm_frame.html' target='_blank'>RRTMG</a>
        is written in fortran and made accessible through python by
            <a href='https://climt.readthedocs.io/en/latest/index.html' target='_blank'>climt</a>.
    </div><br />
    <div>
        <a href="{{ url_for('all_models_are_wrong') }}">Find out more about the assumptions in konrad</a>
    </div><br /><div>
        <a href="{{ url_for('hello') }}">Go back to the introduction</a>
    </div><br /><div>
        <a href=" {{ url_for('experiments') }} ">Start using konrad</a>
    </div><br /><div>
        <a href=" {{ url_for('about_us') }} ">About the developers</a>
    </div><br />
</body>
</html>
